In [19]:
# all details can be refetched from - https://www.geeksforgeeks.org/batch/data-science-6/track/getting-started-with-pandas-ds5/article/Njg2OA%3D%3D
import pandas as pd
import numpy as np

In [20]:
lst = [1,2,3,4,5,6,7,8]

In [21]:
np.array(lst)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [22]:
pd.Series(lst)  #converting the list to pandas series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [31]:
df = pd.DataFrame([[1,2,3,4,5,6],[1,2,3,4,5,6],[1,2,3,4,5,6]], columns=(['A','B','C','D','E','F']))  
#converting a list of lists to dataframe and storing it to "df"

In [33]:
type(df)  #it's of type dataframe

pandas.core.frame.DataFrame

In [35]:
pd. #pressing TAB after the . will show all the functions, classes and methods available
np.array() #pressing SHIFT+TAB inside the bracket will show how to use that particular method...

<IntegerArray>
[1, 2, 3, 4, 5, 6, 7, 8]
Length: 8, dtype: Int64

In [39]:
df['B']

0    2
1    2
2    2
Name: B, dtype: int64